<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>PyAIR Companyp</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">MANAGER</h3>
                    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <h2>BALANCE <b>$100000</b></h2>
                            <div class="panel panel-success">
                                <div class="panel-heading">AIRPLANES PARK</div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NAME</th>
                                                    <th>TYPE</th>
                                                    <th>PRICE</th>
                                                    <th>SEATS</th>
                                                    <th>CARGO</th>
                                                    <th>FLIGHTS</th>
                                                    <th>SELL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>123-1234</td>
                                                    <td>Boeing 747</td>
                                                    <td>passenger</td>
                                                    <td>150000000</td>
                                                    <td>0</td>
                                                    <td>500</td>
                                                    <td>75</td>
                                                    <td><button class="btn btn-xs btn-success" type="button">SELL</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Passenger planes</h4>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-success">PLANES 25</a>
                                            <a href="#" class="list-group-item list-group-item-warning">SEATS  7566</a>
                                            <a href="#" class="list-group-item list-group-item-danger">FLIGHTS  75</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Cargo planes</h4>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-success">PLANES 17</a>
                                            <a href="#" class="list-group-item list-group-item-warning">TONS  756</a>
                                            <a href="#" class="list-group-item list-group-item-danger">FLIGHTS 100</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">NOTIFICATIONS</div>
                                    <ul class="list-group">
                                        <li class="list-group-item">Cras justo odio</li>
                                        <li class="list-group-item">Dapibus ac facilisis in</li>
                                        <li class="list-group-item">Morbi leo risus</li>
                                    </ul>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">MARKET PLANES</div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>NAME</th>
                                                    <th>TYPE</th>
                                                    <th>PRICE</th>
                                                    <th>SEATS</th>
                                                    <th>CARGO</th>
                                                    <th>BUY</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Boeing 747</td>
                                                    <td>passenger</td>
                                                    <td>15000000</td>
                                                    <td>0</td>
                                                    <td>500</td>
                                                    <td><button class="btn btn-xs btn-danger" type="button">BUY</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">GET CREDIT</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">DISPATCHER</h3>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        COUNT PASSENGERS WHO WANTS
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="PERSONS">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        TONS CARGO NEED
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" placeholder="TONS">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default form-control">FLIGHT</button>
                        </form>
                        <br><br>

                        <div class="panel panel-info">
                            <div class="panel-heading">LATEST FLIGHTS</div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID PLANE</th>
                                                <th>NAME</th>
                                                <th>SEATS</th>
                                                <th>CARGO</th>
                                                <th>DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>123-1234</td>
                                                <td>Boeing 747</td>
                                                <td>0</td>
                                                <td>500</td>
                                                <td>05.03.2018</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    </body>

</html>
