<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="../../favicon.ico">
        <title>PyAIR Companyp</title>
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{url_for('static', filename='css/dashboard.css')}}" rel="stylesheet">
    </head>

    <body>
        <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">MANAGER -- {{ manager_name }}</h3>
                    </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-7">
                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-success btn-lg form-control">BALANCE <b>${{ balance/1000000 }}M</b></button>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/reset"><button type="button" class="btn btn-danger btn-lg form-control">RESET</button></a>
                                </div>
                            </div>
                            <br>
                            <div class="panel panel-success">
                                <div class="panel-heading">AIRPLANES PARK</div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>NAME</th>
                                                    <th>TYPE</th>
                                                    <th>PRICE</th>
                                                    <th>SEATS</th>
                                                    <th>CARGO</th>
                                                    <th>FLIGHTS</th>
                                                    <th>SELL</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for plane in own_planes %}
                                                <tr>
                                                    <td>{{ plane.id }}</td>
                                                    <td>{{ plane.name }}</td>
                                                    <td>{{ plane.plane_type_id }}</td>
                                                    <td>${{ plane.price/1000000 }}M</td>
                                                    <td>{{ plane.passengers }}</td>
                                                    <td>{{ plane.cargo }}</td>
                                                    <td>75</td>
                                                    <td><a href="/sell_{{ plane.id }}"><button class="btn btn-xs btn-success" type="button">SELL</button></a></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Passenger planes</h4>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-success">{{ count_passenger_planes }} PLANES</a>
                                            <a href="#" class="list-group-item list-group-item-warning">{{ passengers_capacity }} SEATS</a>
                                            <a href="#" class="list-group-item list-group-item-danger">{{ passenger_flights }} FLIGHTS</a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Cargo planes</h4>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-success">{{ count_cargo_planes }} PLANES</a>
                                            <a href="#" class="list-group-item list-group-item-warning">{{ cargo_capacity }} TONS</a>
                                            <a href="#" class="list-group-item list-group-item-danger">{{ cargo_flights }} FLIGHTS</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">NOTIFICATIONS</div>
                                    <ul class="list-group">
                                        {% for note in notifications %}
                                        <li class="list-group-item">{{ strftime(note.date_time) }} -- {{ note.text }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">MARKET PLANES</div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>NAME</th>
                                                    <th>TYPE</th>
                                                    <th>PRICE</th>
                                                    <th>SEATS</th>
                                                    <th>CARGO</th>
                                                    <th>BUY</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for plane in market_planes %}
                                                <tr>
                                                    <td>{{ plane.name }}</td>
                                                    <td>{{ plane.plane_type_id }}</td>
                                                    <td>${{ plane.price/1000000 }}M</td>
                                                    <td>{{ plane.passengers }}</td>
                                                    <td>{{ plane.cargo }}</td>
                                                    <td><a href="/buy_{{ plane.id }}"><button class="btn btn-xs btn-danger" type="button">BUY</button></a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <form method="POST" action="/credit">
                                    <div class="input-group">
                                        <input name="credit" type="text" class="form-control" placeholder="Input CREDIT in $">
                                        <span class="input-group-btn">
                                            <button class="btn btn-danger" type="submit">GET CREDIT</button>
                                        </span>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">DISPATCHER -- {{ dispatcher_name }}</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/flight" method="POST">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        COUNT PASSENGERS WHO WANTS
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="passengers" placeholder="PERSONS">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        TONS CARGO NEED
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" name="cargo" placeholder="TONS">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info form-control">FLIGHT</button>
                        </form>
                        <br><br>

                        <div class="panel panel-info">
                            <div class="panel-heading">LATEST FLIGHTS</div>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>ID PLANE</th>
                                                <th>NAME</th>
                                                <th>SEATS</th>
                                                <th>CARGO</th>
                                                <th>DATE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for flight in flights %}
                                            <tr>
                                                <td>{{ flight.plane_id }}</td>
                                                <td>{{ flight.plane_name }}</td>
                                                <td>{{ flight.passengers }}</td>
                                                <td>{{ flight.cargo }}</td>
                                                <td>{{ strftime(flight.date_time) }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

    </body>

</html>
